<div class="container margin-container bg-white">
  <div class="row header-form">
    <div class="col-xs-12 text-center">
      <h2 class="h-padding">Reg&iacute;strate</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <!-- ALERTA -->
          <%= devise_error_messages! %>

    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-offset-2 col-md-8 text-center">  
        <h4>Datos del usuario</h4>
        
    </div>
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6">  
        <div class="form-group">
          <label>Nombre:</label>
        	<%= f.input :nombre, required: true, autofocus: true, label: false,  input_html: { class: 'form-control ' } %>
        </div>
        <div class="form-group">
          <label>Apellido:</label>
        	<%= f.input :apellido, required: true, label: false, input_html: { class: 'form-control' } %>
        </div> 
        <div class="form-group">
          <label>Ubicación:</label>  
          <%= f.association :dpto_mendoza, label_method: :nombre, value_method: :id, required: true, label: false, input_html: { class: 'form-control' } %>
        </div>
        <div class="form-group">
          <label>Contraseña:</label>  
          <%= f.input :password, required: true, label: false, as: :password, input_html: { class: 'form-control' } %>
        </div>  
        <div class="form-group">
          <label>Repite tu contraseña:</label>  
          <%= f.input :password_confirmation, required: true, label: false, input_html: { class: 'form-control' } %>
        </div>
      </div>
      <div class="col-xs-12 col-md-offset-2 col-md-8 text-center">  
        <h4>Datos de contacto</h4>
      </div>
      <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6">  
        <div class="form-group">
          <label>Email:</label>  
          <%= f.input :email, required: true, label: false, as: :email, hint:'lalal', input_html: { class: 'form-control' } %>
        </div>
        <div class="form-group">
          <label>Repite tu Email:</label>  
          <%= f.input :email_confirmation, required: true, label: false, as: :email, hint:'lalal', input_html: { class: 'form-control' } %>
        </div>
        <div class="form-group">
          <label>Telefono:</label>  
          <%= f.input :telefono, as: :tel, label: false, input_html: { class: 'form-control' } %>
        </div>
        <div class="form-group">
          <label>Telefono alternativo:</label>  
          <%= f.input :telefono2, label: false, input_html: { class: 'form-control' } %>
        </div>

        <div class="form-group">
          <%= f.button :submit, "Registrarse", class: 'btn btn-success btn-lg' %>
        </div>
      </div>
      <% end %>
  </div>
<!--       <%= render "devise/shared/links" %> -->
</div>