<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @vehiculo.usuario %>
</p>

<p>
  <strong>Agencia:</strong>
  <%= @vehiculo.agencia %>
</p>

<p>
  <strong>Segmento:</strong>
  <%= @vehiculo.segmento %>
</p>

<p>
  <strong>Dpto mendoza:</strong>
  <%= @vehiculo.dpto_mendoza %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @vehiculo.marca %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @vehiculo.modelo %>
</p>

<p>
  <strong>Modelocustom:</strong>
  <%= @vehiculo.modeloCustom %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @vehiculo.titulo %>
</p>

<p>
  <strong>Anio:</strong>
  <%= @vehiculo.anio %>
</p>

<p>
  <strong>Kilometraje:</strong>
  <%= @vehiculo.kilometraje %>
</p>

<p>
  <strong>Combustible:</strong>
  <%= @vehiculo.combustible %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @vehiculo.precio %>
</p>

<p>
  <strong>Condicion:</strong>
  <%= @vehiculo.condicion %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @vehiculo.comentario %>
</p>

<p>
  <strong>Destacado:</strong>
  <%= @vehiculo.destacado %>
</p>

<p>
  <strong>Principal:</strong>
  <%= @vehiculo.principal %>
</p>

<p>
  <strong>Denunciado:</strong>
  <%= @vehiculo.denunciado %>
</p>

<p>
  <strong>Alta:</strong>
  <%= @vehiculo.alta %>
</p>

<p>
  <strong>Equipamiento:</strong>
  <%= @vehiculo.equipamiento %>
</p>

<p>
  <strong>Seguridad:</strong>
  <%= @vehiculo.seguridad %>
</p>

<p>
  <strong>Exterior:</strong>
  <%= @vehiculo.exterior %>
</p>

<%= link_to 'Edit', edit_vehiculo_path(@vehiculo) %> |
<%= link_to 'Back', vehiculos_path %>
