<header class="main-header">
<!-- MOBILE MENU SEARCH -->	
	<div class="container visible-xs">
		<div class="row">
			<div class="col-xs-12">
				<h4>Que vehículo buscas?</h4>
				<ul class="nav nav-pills nav-stacked">
				  <li><a href="#">Home</a></li>
				  <li class="divider"></li>
				  <li><a href="#">Profile</a></li>
				  <li><a href="#">Messages</a></li>
				</ul>
			</div>
		</div>
	</div>
	
<!-- TABLET/DESKTOP/LARGE MENU SEARCH -->
    <div class="container main-search hidden-xs">

	    <div class="row">
	      <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 bg-style">
	        <div class="row">
	          <div class="col-sm-12 col-md-10 col-md-offset-1 text-center">
	            <h1><p>Encontrá tu proximo vehículo</p></h1>
	            <hr>
	          </div>
	        </div>
	        <div class="row">
	          <div class="col-xs-12 text-center">
	            <div class="btn-group ">
	              <button type="button" class="btn btn-primary btn-lg">
					<img src="<%= asset_path( 'icons/auto.png' ) %>" class="icon">
	              	<br>Autos
	              </button>
	              <button type="button" class="btn btn-primary btn-lg">
					<img src="<%= asset_path( 'icons/camioneta.png' ) %>" class="icon">
	              	<br>Camionetas</button>
	              <button type="button" class="btn btn-primary btn-lg">
					<img src="<%= asset_path( 'icons/camion.png' ) %>" class="icon">
	              	<br>Camiones
	              </button>
	              <button type="button" class="btn btn-primary btn-lg">
					<img src="<%= asset_path( 'icons/moto.png' ) %>" class="icon">
	              	<br>Motos</button>
	              <button type="button" class="btn btn-primary btn-lg">
					<img src="<%= asset_path( 'icons/nautica.png' ) %>" class="icon">
					<br>Nautica</button>
	            </div>
	          </div>
	        </div>
	        <div class="row">
	          <div class="col-sm-12 col-md-10 col-md-offset-1 text-center">
	            <form role="search">
	              <div class="input-group ">
	                <input type="text" placeholder="Buscar" class="form-control input-lg">
	                <span class="input-group-btn">
	                <button class="btn btn-primary btn-lg" type="button"><span class="glyphicon glyphicon-search"></span></button>
	                </span>
	              </div>
	            </form>
	          </div>
	        </div>
	      </div>
    </div>  
</header>

<!-- DESTACADOS -->

<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-12 text-center">
				<h1 class="h-padding">Destacados</h1>
			</div>
		</div>

		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
			<div class="row product">
				<div class="">
					<div class="col-xs-12 col-md-12">
			      		<img src="http://placehold.it/500x500" class="img-responsive center-block">
			      	</div>
					<div class="col-xs-6 col-sm-12 col-md-12">
				        <p><h4>Thumbnail label</h4></p>
				        <p><span class="glyphicon glyphicon-chevron-right"></span><span class="precio">$ 12345678</span></p>
					</div>
					<div class="col-xs-6 col-sm-12 col-md-12">
						<table class="table">
							<tr>
								<td>Combustible:</td>
								<td>...</td>
							</tr>
							<tr>
								<td>Año:</td>
								<td>...</td>
							</tr>
							<tr>
								<td>Ubicación:</td>
								<td>...</td>
							</tr>
						</table>
					</div>
					
					<div class="col-xs-12 col-md-12">
					<a href="#" class="btn btn-primary btn-block" role="button">Consultar</a>
			      	</div>
			      	<div class="clearfix"></div>
		      	</div>	
			</div>
		</div>

		</div>
	</div>
</section>

<!-- AGENCIAS -->

<section class="bg-white">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-12 text-center">
				<h1 class="h-padding">Aderi tu Agencia</h1>
			</div>
		</div>
		<article>	
		<div class="row">
			<div class="col-xs-12 col-md-4">
				<img src="http://placehold.it/200x200">
			</div>
			<div class="col-xs-12 col-md-8">
				<p>
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id autem dolorum officiis repudiandae numquam repellat, vero veniam molestias! Illum vero odit vel maxime nostrum, officia labore ipsum quia suscipit beatae!</span>
					<span>Magnam temporibus est voluptatum incidunt provident vitae, voluptas eveniet quis qui, esse laboriosam excepturi, dolore dolor maxime dignissimos harum odit reprehenderit facilis nulla, alias blanditiis tenetur. Autem harum ipsam sit?</span>
					<span>Praesentium nisi, repudiandae sunt consequatur, dolor laudantium aperiam, est quae cupiditate eius tenetur odit impedit non! Maiores velit quod deserunt laudantium incidunt alias quasi natus! Asperiores harum consequatur autem at.</span>
					<span>Ut vero, illum? At commodi ullam tempore. Omnis eum consequuntur, adipisci quos ut repudiandae iusto asperiores! Tempore laborum iste dolores aut recusandae, ullam suscipit atque repellendus architecto reprehenderit iusto nisi.</span>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-push-8 col-md-4">
				<img src="http://placehold.it/200x200">
			</div>
			<div class="col-xs-12 col-md-pull-4 col-md-8">
				<p>
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id autem dolorum officiis repudiandae numquam repellat, vero veniam molestias! Illum vero odit vel maxime nostrum, officia labore ipsum quia suscipit beatae!</span>
					<span>Magnam temporibus est voluptatum incidunt provident vitae, voluptas eveniet quis qui, esse laboriosam excepturi, dolore dolor maxime dignissimos harum odit reprehenderit facilis nulla, alias blanditiis tenetur. Autem harum ipsam sit?</span>
					<span>Praesentium nisi, repudiandae sunt consequatur, dolor laudantium aperiam, est quae cupiditate eius tenetur odit impedit non! Maiores velit quod deserunt laudantium incidunt alias quasi natus! Asperiores harum consequatur autem at.</span>
					<span>Ut vero, illum? At commodi ullam tempore. Omnis eum consequuntur, adipisci quos ut repudiandae iusto asperiores! Tempore laborum iste dolores aut recusandae, ullam suscipit atque repellendus architecto reprehenderit iusto nisi.</span>
				</p>
			</div>
		</div>
		</article>
	</div>
</section>


<!-- CARRUSEL AGENCIAS -->

<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-12 text-center">
				<h1 class="h-padding">Agencias Aderidas</h1>
			</div>
		</div>
		<div class="row">
			
            <div class="col-xs-12">
				  <ul class="bxslider">
				    <li>
				      <img src="http://placehold.it/200x200">
				    </li>
				    <li>
				      <img src="http://placehold.it/200x200">
				    </li>
				    <li>
				      <img src="http://placehold.it/200x200">
				    </li>
				    <li>
				      <img src="http://placehold.it/200x200">
				    </li>
				    <li>
				      <img src="http://placehold.it/200x200">
				    </li>
				    <li>
				      <img src="http://placehold.it/200x200">
				    </li>
				    <li>
				      <img src="http://placehold.it/200x200">
				    </li>
				    <li>
				      <img src="http://placehold.it/200x200">
				    </li>
				  </ul>
			</div>
                 
		</div>
	</div>
</section>

<%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>